/*** Uni-Sport.org Main CSS 		***/
/*** Author: Steven Workman			***/
/*** Created on: 3rd July 2007 		***/
/*** Last updated: 12th  July 2007 	***/

/* Logo IR Classes */
.logo {
	z-index:3;
	background: url(./images/unisport.png) no-repeat !important;
	background: url(./images/unisport.gif) no-repeat;
	text-indent: -9000px;
	height:46px;
	width:220px;
	float:right;
	margin-top:5px;
}

.logo a, .logo a:active {
	outline:none;
}

.clubName {
	float: left;
	text-align:left;
	padding-bottom:0;
	margin-bottom:0;
}

.clubName a, .clubName a:hover, .clubName a:visited, .clubName a:active{
	color:#000;
	text-decoration:none;
	outline:none;
}

.bday {
	font-size:90%;
}

#header {
	width:95%;
	height:100px;
	margin:0 auto;
	text-align:center;
}

#top-submit {
	position: absolute;
	top: 2px;
	margin-left:-5px;
}

/* These styles are all within the header */
#mainNav {
	line-height:25px;
	clear:left;
}

#mainNav ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

#mainNav a {
	float:left;
	padding:2px 15px;
	display:block;
  	text-decoration:none;
  	font-weight:bold;
  	color:#765;
	text-indent:20px;
}

#mainNav a.main {
	background:url(./images/tab_unisport.png) no-repeat left top;
}

#mainNav a.forum {
	background:url(./images/tab_forum.png) no-repeat left top;
}

#mainNav a.fantasy {
	background:url(./images/tab_fantasy.png) no-repeat left top;
}

#mainNav li {
	float:left;
	background:url(./images/tab_right2.gif) no-repeat right top;
  	margin:0;
	padding:0;
	vertical-align:bottom;
}

#mainNav li:hover{
  background-position:100% -33px;
  color:#000;
}
#mainNav li:active {
  background-position:100% -64px;
  color:#000;
  outline:none;
  }

#mainNav li:hover a {
  background-position:0% -33px;
  color:#000;
}
#mainNav li:active a {
  background-position:0% -64px;
  padding: 4px 15px 0 15px;
  outline:none;
}

#home #mainNav .home a,
#forum #mainNav .forum a,
#fantasy #mainNav .fantasy a {
	background-position:0% -33px;
	color:#000;
	cursor: default;
}
#home #mainNav .home,
#forum #mainNav .forum,
#fantasy #mainNav .fantasy {
	background-position:100% -33px;
	color:#000;
}

#subNav {
	clear:both;
	line-height:25px;
	width:100%;
}

#subNav ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

#subNav a {
	float:left;
	padding:2px 15px;
	display:block;
  	background:url(../img/tab_camera.png) no-repeat left top;
  	text-decoration:none;
	font-size:80%;
  	color:#765;
	text-indent:20px;
}

#subNav a.faq {
	background:url(./images/tab_faq.png) no-repeat left top;
}

#subNav a.search {
	background:url(./images/tab_search.png) no-repeat left top;
}

#subNav a.list {
	background:url(./images/tab_list.png) no-repeat left top;
}

#subNav a.groups {
	background:url(./images/tab_group.png) no-repeat left top;
}

#subNav a.msg {
	background:url(./images/tab_msg.png) no-repeat left top;
}

#subNav a.login {
	background:url(./images/tab_login.png) no-repeat left top;
}

#subNav li {
	float:left;
	background:url(./images/tab_right2.gif) no-repeat right top;
  	margin:0;
	padding:0;
	vertical-align:bottom;
}

#subNav li:hover{
  background-position:100% -33px;
  color:#000;
}
#subNav li:active {
  background-position:100% -64px;
  color:#000;
  outline:none;
  }

#subNav li:hover a {
  background-position:0% -33px;
  color:#000;
}
#subNav li:active a {
  background-position:0% -64px;
  padding: 4px 15px 0 15px;
  outline:none;
}

#googleadvert {
	position:relative;
	margin:0 auto;
	width: 728px;
	text-align:center;
	min-height:50px;
}

#global {
	width:95%;
	position:relative;
	margin: 0 auto;
	text-align:left;
}

#topBar {
	width:100%;
	height:30px;
	background: url(./images/topbar_bg.png) repeat-x;
	border-bottom: 1px solid #aaa;
}

#topBar .left {
	padding-top:3px;
}

#topBar ul {
	list-style-type:none;
}
#sidebar1 {
	width: 15%;
	padding: 0 1%;
	border-left:1px solid #aaa;
	float:left;
	line-height:1.16em;
	padding-top:10px;
}

#sidebar2 {
	width: 20%;
	padding: 0 1%;
	border-right:1px solid #aaa;
	float:right;
	line-height:1.16em;
	padding-top:10px;
}

.sidebarContent {
	width: 100%;
	background:#eee;
}

.header {
	background:#ddf;
	line-height:12px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:2px 0 2px 2px;
	border-top:2px solid #6A8EC2;
}

.headerShown {
	background:#ddf url(../img/delete.png) right no-repeat;
	line-height:12px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:2px 0 2px 2px;
	border-top:2px solid #6A8EC2;
}

.headerHidden {
	background:#ddf url(../img/add.png) right no-repeat;
	line-height:12px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:2px 0 2px 2px;
	border-top:2px solid #6A8EC2;
}

.content .headerShown {
	background:#ddf url(../img/delete.png) right no-repeat;
	line-height:11px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	padding:2px 0 2px 2px;
	border-top:1px solid #6A8EC2;
	color:#383838;
}

.content .headerHidden {
	background:#ddf url(../img/add.png) right no-repeat;
	line-height:11px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	padding:2px 0 2px 2px;
	border-top:1px solid #6A8EC2;
	color:#383838;
}

.sidebarContent ul {
	list-style:none;
	padding-left:3px;
}

.sidebarContent .login ul,
.sidebarContent .login img {
	padding:10px 0 0 5px;
}

.sidebarContent .login li {
	padding-top: 3px;
}

.sidebarContent .content {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

#oldlogin label {
	font-size:86%;
	color:#383838;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}

#adverts {
	background:#eee;
	width:100%;
}

#adverts ul {
	list-style:none;
	position:relative;
	margin:5px auto;
	text-align:center;
}

#main {
	float:right;
	width:81%;
}

#content {
	float:left;
	width: 75%;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	background:#eef;
	line-height:normal;
	padding-top:10px;
}

#content #feature {
	float:right;
	width:100%;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #aaa;
}

#content #feature strong {
	font-size:90%;
	line-height:1.3em;
	margin-top: 5px;
}

#content #feature li, #content #feature em{
	font-size: 90%;
	line-height: 1.2em;
}

#content #feature ul {
	list-style:none;
}

#content #feature img {
	float:left;
	margin:5px 5px;
}

#content .story {
	font-size:90%;
	margin:10px;
	border-bottom:1px solid #aaa;
}

#content .story h2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:120%;
	padding:0;
}

#content .story em {
	font-size:85%;
	font-style:italic;
}

#content .story p, #content p {
	padding:10px 3px;
}

#footer {
	border-top:1px solid #aaa;
	clear:both;
	line-height:normal;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	vertical-align:middle;
	padding:2px 0 5px 5px;
	background:#eee;
}

#footer img {
	float:left;
	margin: 0 5px 2px 2px;
}

#pics {
	height:450px;
}
#currpic {
	position:relative;
	margin:0 auto 10px auto;
	text-align:center;
}
.gallery {
	margin:0 auto;
	position:relative;
	text-align:center;
}
.gallery td{
	padding:2px;
	margin: 3px;
	font-size:80%;
}
.ac ul{
	list-style:none;
}
.ac ul li{
	color:#383838;
	font-size:86%;
	text-indent:10px;
}

/* This is the border line & background colour round the entire page */
.bodyline	{
background-color: #FFFFFF;
}

/* This is the outline round the main forum tables */
.forumline	{ background-color: #FFFFFF; }

table {
	padding:0 3px;
}

/* Main table cell colours and backgrounds */
td.row1	{ background-color: #EFEFEF; }
td.row2	{ background-color: #DEE3E7; }
td.row3	{ background-color: #D1D7DC; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #FFFFFF;
		background-image: url(images/cellpic2.jpg);
		background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #FFA34F; font-size: 11px; font-weight : bold;
	background-color: #006699; height: 25px;
	background-image: url(images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-image: url(images/cellpic1.gif);
			background-color:#D1D7DC; border: #FFFFFF; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px; }
td.row3Right,td.spaceRow {
	background-color: #D1D7DC; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #006699}
a.cattitle		{ text-decoration: none; color : #006699; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #006699; }
a.forumlink 	{ text-decoration: none; color : #006699; }
a.forumlink:hover{ text-decoration: underline; color : #DD6900; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #000000;}
a.nav			{ text-decoration: none; color : #006699; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #006699; }
a.topictitle:visited { text-decoration: none; color : #5493B4; }
a.topictitle:hover	{ text-decoration: underline; color : #DD6900; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #DD6900}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}


/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #FAFAFA;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #FAFAFA;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");
