<h3>Terms of service</h3>
<p>
You agree, through your use of this website, that you will not post any material which is false, defamatory, inaccurate, abusive, vulgar, hateful, harassing, obscene, profane, sexually oriented, threatening, invasive of a person's privacy, or otherwise in violation of ANY law. This material may be humorous, but legal actions can be taken against you. You also agree not to post any copyrighted material unless the copyright is owned by you or you have consent from the owner of the copyrighted material.</p>
<p>
You remain solely responsible for the content of your messages, and you agree to indemnify and hold harmless this website. We at this website also reserve the right to reveal your identity (or any information we have about you) in the event of a complaint or legal action arising from any information posted by you.</p>
<p>
You have the ability, as you register, to choose your username. We advise that you keep the name appropriate. With this user account you are about to register, you agree to never give your password out to another member, for your protection and for validity reasons. You also agree to NEVER use another member's account.</p>
<p>
After you register and log into this forum, you can fill out a detailed profile. It is your responsibility to present clean and accurate information. Any information deemed inaccurate or vulgar will be removed.</p>
<p>
Please note that with each action, your IP address is recorded, in the event that you need to be banned from this website or your ISP contacted. This will only happen in the event of a major violation of this agreement.</p>
<p>
You are solely responsible for any and all files that you post to this website. You may not post files to this website which contain copyrighted material that you do not have permission from the author to post.
</p>